name: Deploy Static Site
on:
  push:
    branches: [main]
permissions:
  id-token: write
jobs:
  Deploy-static-site:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::077437902719:role/github-oidc-janice-zhong-resume
          aws-region: ap-southeast-2

      - name: Set up Cypress binary cache
        uses: actions/cache@v3
        with:
          path: ~/.cache/Cypress
          key: cypress-${{ runner.os }}-cypress-${{ hashFiles('pnpm-lock.yaml') }}

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Install Cypress binary
        run: npx cypress install

      # - name: Run tests
      #   run: pnpm test

      - name: lint
        run: pnpm lint

      - name: Build
        run: pnpm build

      - name: Upload to S3
        run: aws s3 sync ./out s3://janice-zhong --delete

      - name: Invalidate CloudFront Cache
        run: aws cloudfront create-invalidation --distribution-id E1TYOGUL5GMN5T --paths "/*"

      - name: Run Cypress smoke tests
        uses: cypress-io/github-action@v6
        with:
          install: false
          browser: chrome
          record: true
          supportFile: false
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
